@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600&subset=latin,latin-ext);
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-dic-2013, 11.59.01
    Author     : srescio
*/

html, body {
   font-family: 'Open Sans' !important;
}

/*COLORS*/
$navHeading : #222;
$appBkColor : #e9e9e9;
/*deals colors*/
$dealNewYear    : #875bcf;
$dealXmasMarket : #d1090d;
$dealXmasShop   : #7f5010;
$dealWinterSale : #6282e7;

.topcoat-navigation-bar {
background: #f9f9fa;
background: -moz-linear-gradient(top,  #f9f9fa 0%, #f4f3f4 19%, #d9d4d4 74%, #d4cece 93%, #d4cece 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9fa), color-stop(19%,#f4f3f4), color-stop(74%,#d9d4d4), color-stop(93%,#d4cece), color-stop(100%,#d4cece));
background: -webkit-linear-gradient(top,  #f9f9fa 0%,#f4f3f4 19%,#d9d4d4 74%,#d4cece 93%,#d4cece 100%);
background: -o-linear-gradient(top,  #f9f9fa 0%,#f4f3f4 19%,#d9d4d4 74%,#d4cece 93%,#d4cece 100%);
background: -ms-linear-gradient(top,  #f9f9fa 0%,#f4f3f4 19%,#d9d4d4 74%,#d4cece 93%,#d4cece 100%);
background: linear-gradient(to bottom,  #f9f9fa 0%,#f4f3f4 19%,#d9d4d4 74%,#d4cece 93%,#d4cece 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9fa', endColorstr='#d4cece',GradientType=0 );
box-shadow: none;
}
.topcoat-navigation-bar:after {
    background: url('images/venere_deal_logo.png') scroll no-repeat right 0 transparent;
    background-size: auto 100%;
    content: "";
    display: block;
    height: 36px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 155px;
    z-index: 1;
}

.topcoat-navigation-bar__title {
   color: $navHeading;
   display: none;
}


body,
#wrapper,
.topcoat-list__container {
   background-color: $appBkColor;
}

/* Reduce header size */
$headerHeight : 36px;
$headerDelta  : 4px;

.topcoat-navigation-bar,
.topcoat-navigation-bar__item {
   height: $headerHeight;
}

.topcoat-list__container {
   top: $headerHeight !important;
}
.topcoat-navigation-bar__item {
   line-height: $headerHeight;
}

.topcoat-icon-button,
.topcoat-icon-button--quiet,
.topcoat-icon-button--large,
.topcoat-icon-button--large--quiet {
   border: none;
   line-height: $headerHeight;
}

.topcoat-icon-button--quiet:active,
.topcoat-icon-button--quiet.is-active,
.topcoat-icon-button--large--quiet:active,
.topcoat-icon-button--large--quiet.is-active {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #C6C8C8;
    text-shadow: none;
    line-height: ($headerHeight - $headerDelta);
}

.topcoat-icon--back {
   background-image: none !important;
}
.back-button:before {
   content: '\e800';
    border: 1px solid #222222;
    border-radius: 100%;
    color: #222222;
    display: block;
    font-size: 30px;
    height: 25px;
    left: -5px;
    line-height: 26px !important;
    margin: 3px 0 0;
    position: absolute;
    text-indent: -3px;
    width: 25px !important;
}

.topcoat-icon-button--quiet.back-button:active:before,
.topcoat-icon-button--quiet.is-active.back-button:before,
.topcoat-icon-button--large--quiet.back-button:active:before,
.topcoat-icon-button--large--quiet.is-active.back-button:before {
   background-color: #222;
   border-color: #FFF;
   box-shadow: 0 0 1px #000000;
   color: #FFF;
}

/*DEAL CARDS*/
.topcoat-list__item:first-child {
   border: none;
}
.list li,
.topcoat-list__item {
   border: none;
   padding: 0 !important;
   margin: 5px 10px 13px;
   
}
.list li:active {
   background: transparent;
   box-shadow: none;
}

/*CARDS PORTATRAIT SHADOW*/
.topcoat-list__item:before {
    background-color: rgba(0, 0, 0, 0.45);
    bottom: 15px;
    box-shadow: 12px 19px 6px  rgba(0, 0, 0, 0.45);
    content: "";
    display: block;
    height: 90px;
    position: absolute;
    right: 15px;
    -webkit-transform: rotate(1deg);
    transform: rotate(2deg);
    width: 80%;
}

.card-pic {
   background-color: #222;
   border-top: 2px solid #666;
   background-size: cover;
   display: block;
   width: 100%;
   height: 140px;
   position: relative;
}
.theme-title,
.card-title {
   color: #666;
   font-size: 20px;
   font-weight: 400 !important;
   text-shadow: 1px 0 0 #FFFFFF;
}
.card-subtitle {
    background: none repeat scroll 0 0 #666;
    bottom: 13px;
    color: #FFF;
    font-style: italic;
    height: 38px; /*can be removed for flexible content if no card icon on the right*/
    margin: 0 120px 0 0;
    opacity: 0.9;
    padding: 6px 0 6px 18px;
    position: absolute;
    z-index: 1;
}
.card-subtitle .description {
    display: block;
    font-family: Open Sans;
    font-size: 16px;
    height: 100%;
    line-height: 19px;
    overflow: hidden;
    padding: 0 15px 0 0;
    vertical-align: top;
}
.card-subtitle .landscape {
   display: none;
}

/*card subtitle right icon*/
$iconWidth : 40px;
$IconSize : 49px;
.card-subtitle:after {
    content: "";
    color: #666;
    display: block;
    font-size: $IconSize;
    height: $IconSize;
    position: absolute;
    right: -$iconWidth;
    top: 0;
    width: $iconWidth;
    z-index: -1;
}


/*THEMES COLORS*/
$card: purple #7960a9, red #d91f26, gold #ad8a2f, azure #5c80c0, green #61bc5d, orange #e87c24;

@each $color in $card {
   .card-#{nth($color, 1)} {

      .card-title,
      .theme-title {
         color: darken( nth($color, 2), 20% );
      }
      .card-subtitle {
         background-color: nth($color, 2);
      }
      .card-subtitle:after {
         color: nth($color, 2);
      }
      .theme-title,
      .card-pic {
         border-color: nth($color, 2);
      }
      
      .hotel-dealInfo {
         background-color: nth($color, 2);
      }
      .hotel-dealInfo:after {
         color: nth($color, 2);
      }
      .hotel-dealInfo .tableFix {
         background-color: nth($color, 2);
      }
      .hotel-price-discount {
         color: nth($color, 2);
      }
   }
}



/* CITIES PAGE */
.cities .topcoat-list__item:before {
   content: none;
}
.cities .theme-title {
   margin: 10px;
   border-bottom: 2px solid;
}

.cities .card-title {
   display: none;
}
.cities .card-pic {
   border: none;
}
.cities .city-name {
    font-size: 20px;
    font-weight: 100;
    line-height: 36px;
}
.cities .card-subtitle {
      box-shadow: 12px 7px 5px rgba(0, 0, 0, 0.45);
    content: "";
    margin: 0 40px 0 0;
}
.cities .city-price {
    color: rgba(255, 255, 255, 0.75);
    float: right;
    font-size: 11px;
    margin: -2px 0 0;
    padding: 0 15px 0 40px;
    text-align: right;
}
.cities .city-price b {
    clear: both;
    color: #FFFFFF;
    display: block;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 22px;
    margin: 0 -2px 0 0;
}





/*HOTEL STRIPS*/
$hotelCardHeight : 95px;
$hotelCardWidth  : 175px;
.clearFix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.hotel-card {
    display: block;
    height: $hotelCardHeight;
    margin: 8px 11px;
    position: relative;
}

$priceHeight:35px;
.hotel-pic {
    background-position: center center;
    background-size: cover;
    float: left;
    height: 100%;
    position: relative;
    width: $hotelCardWidth;
}
.hotel-price {
    background-color: rgba(255, 255, 255, 0.85);
    bottom: 11px;
    height: $priceHeight;
    padding: 0 6px;
    position: absolute;
    right: 0;
}
.hotel-price-original {
    color: #999999;
    font-size: 18px;
}
.hotel-price-discount {
    font-size: 30px;
    line-height: 35px;
    margin-left: 6px;
}

.hotel-info {
    height: 100%;
}
.hotel-name {
    bottom: 40px;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    position: absolute;
}
.hotel-dealInfo {
    background-color: #222;
    bottom: 11px;
    color: #FFFFFF;
    font-size: 11px;
    font-style: italic;
    font-weight: 100;
    line-height: 12px;
    margin-right: 20px;
    padding: 0 10px 0 6px;
    position: absolute;
    height: $priceHeight;
}
.hotel-dealInfo:before {
    background-color: rgba(0, 0, 0, 0);
    bottom: 15px;
    box-shadow: 19px 15px 3px rgba(0, 0, 0, 0.6);
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    right: 15px;
    transform: rotate(2deg);
    width: 80% !important;
    z-index: 0;
}
.hotel-dealInfo:after {
    color: #222222;
    font-size: $priceHeight;
    height: $priceHeight;
    position: absolute;
    right: -($priceHeight - 6px);
    top: 0;
}
.hotel-dealInfo .tableFix {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.hotel-dealInfo .tb {
    display: table;
    height: 100%;
}
.hotel-dealInfo .tc {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    z-index: 1;
}
.hotel-name,
.hotel-dealInfo {
    margin-left: $hotelCardWidth;
}
.hotel-name .name {
   margin: 0 6px 0 0;
}


/*STARS RATING*/
[class*="stars_"] {
float:none !important;
display: inline-block;
font-family:arial;
font-size:10px;
color:#666666;
margin:0 0 0;
position: relative;
top: 3px;
overflow:hidden;
text-indent: -9999px;
height: 14px !important;
}

$starWidth:13px;
@for $i from 1 through 7 {
  .stars_#{$i} { width: $starWidth * $i; }
}
@for $i from 4 through 7 {
  .stars_#{$i}L:before { width: $starWidth * $i; }
  .stars_#{$i}L { width: ($starWidth * $i)+9px; }
}


/* vicons-star */
.vicons-star:before,
[class*="stars_"]:before {
content: "\e802\e802\e802\e802\e802\e802\e802";
font-size: 22px;
height: 20px;
left: 0;
letter-spacing: -9px;
line-height: 11px !important;
position: absolute;
text-indent: -9px !important;
width: auto;
}
/* vicons-luxury */
.hotel-name [class*="L"]:after {
background: none repeat scroll 0 0 #E9E9E9;
content: "\e803";
font-size: 30px;
margin: -9px 0 0;
position: absolute;
right: -27px;
text-indent: -20px;
width: 8px;
}


/*DEAL CARDS LANDSCAPE*/
$squaredCard : 135px;
@media screen 
and (min-width : 550px) 
/*and (orientation : landscape) */ {
   .list li,
   .topcoat-list__item {
      height: $squaredCard;
      width: $squaredCard;
      margin: 13px 16px;
      float: left;
      clear: none;
   }
   .topcoat-list__item:before {
      content: none;
   }
   .card-pic {
      border-top: none;
      height: 100%;
   }
   .card-title {
       background-color: rgba(255,255,255, 0.70);
       bottom: 0;
       left: 0;
       font-size: 22px;
       line-height: 22px;
       padding: 2px 6px 28px 4px !important;
       position: absolute;
       right: 0;
       width: auto;
       z-index: 1;
   }
   
   $arrowWidth:5px;
   .card-subtitle,
   .cities .card-subtitle {
      bottom: ( ($arrowWidth / 2) + 4px);
      height: 10px;
      margin: 0 0 0 (-$arrowWidth);
      opacity: 1;
      padding: 4px 0 8px 11px;
      box-shadow: 9px 3px 3px 0px rgba(0, 0, 0, 0.26);
   }
   .card-subtitle:before {
       background-color: #000000;
       bottom: -($arrowWidth / 2);
       content: "";
       height: 0;
       left: -19px;
       position: absolute;
       width: 0;
   }
   .card-subtitle:before {
      background-color: transparent;
      border-style: solid;
      border-width: 0 $arrowWidth ($arrowWidth / 2) 0;
      border-color: transparent #000000 transparent transparent;
      border-style: inset;
      width: 0px;
      height: 0px;
      -webkit-transform:rotate(360deg);
   }
   
   .card-subtitle:after {
      text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.26);
      top: 1px;
   }
   
   
   .card-subtitle .landscape {
      font-size: 11px;
      font-weight: 400;
      padding: 0 21px 0 0;
      text-transform: uppercase;
   }
   
   $smallerLabel : 22px;
   .card-subtitle:after {
      height: $smallerLabel;
      font-size: $smallerLabel;
      right: -(($iconWidth / 2) + 5px);
   }
   .card-subtitle .description,
   .cities .card-subtitle .city-name,
   .cities .card-subtitle .city-price {
      display: none;
   }
   .card-subtitle .landscape {
      display: block;
   }
   .cities .card-title {
      display: block;
   }
   .cities .landscape-price {
      clear: both;
      display: block;
      font-size: 13px;
      font-style: italic;
   }
   .cities .landscape-price b {
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      padding: 0 0 0 6px;
   }

}
