@font-face {
  font-family: 'venere-deals-icons';
  src: url('font/venere-deals-icons.eot?33918533');
  src: url('font/venere-deals-icons.eot?33918533#iefix') format('embedded-opentype'),
       url('font/venere-deals-icons.woff?33918533') format('woff'),
       url('font/venere-deals-icons.ttf?33918533') format('truetype'),
       url('font/venere-deals-icons.svg?33918533#venere-deals-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'venere-deals-icons';
    src: url('../font/venere-deals-icons.svg?90970664#venere-deals-icons') format('svg');
  }
}
*/
 .hotel-name [class*="L"]:after,
 [class^="vicons-"]:before, [class*=" vicons-"]:before,
 [class^="vicons-"]:after, [class*=" vicons-"]:after {
  font-family: "venere-deals-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.vicons-labelhollow:after { content: '\e801'; } /* '' */
/*.vicons-star:before { content: '\e802'; }  '' */
.vicons-info-circled-alt:before { content: '\e800'; } /* '' */